[Unit]
Description=panel install service
OnFailure=reboot.target
After=TFT_LCD.service
StopWhenUnneeded=false

[Service]
Type=oneshot
ExecStart=/etc/marlin-install.sh
ExecStartPost=/bin/systemctl disable marlin-install.service
StandardOutput=journal+console

[Install]
WantedBy=basic.target
