[Unit]
Description=service for mjpg streamer
After=usbhub.service
StopWhenUnneeded=false

[Service]
Type=simple
ExecStart=/mostfun/mjpgstreamer/mjpg_streamer -i "/mostfun/mjpgstreamer/input_uvc.so" -o "/mostfun/mjpgstreamer/output_file.so" &
Restart=on-failure
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target