[Unit]
Description=panel install service
After=TFT_LCD.service

[Service]
Type=oneshot
ExecStart=/etc/panel-install.sh
ExecStartPost=/bin/systemctl disable panel-install.service
StandardOutput=journal+console

[Install]
WantedBy=basic.target
