<!--语言设置页-->
<div style="text-align:center">
    <div class="radio c-radio" style="margin:20px;">
        <label>
            <input id="lang" type="radio" value="" name="language">
            <span class="fa fa-circle"></span>
            <img src="static/app/img/auto.jpg" height="11" width="16" style="margin-bottom:3px;margin-right:3px;">Auto
        </label>
    </div>
    <div class="radio c-radio" style="margin:20px;">
        <label>
            <input id="lang" type="radio" value="zh" name="language">
            <span class="fa fa-circle"></span>
            <img src="static/app/img/cn.jpg" style="margin-bottom:3px;margin-right:3px;">中文
        </label>
    </div>
    <div class="radio c-radio" style="margin-left:20px;">
        <label>
            <input id="lang" type="radio" value="en" name="language">
            <span class="fa fa-circle"></span>
            <img src="static/app/img/uk.jpg" style="margin-bottom:3px;margin-right:3px;">English
        </label>
    </div>
    <div style="display:block; text-align:center;margin:20px;">
        <button class="btn btn-primary" type="submit" id="lang_save"></button>
    </div>
</div>
<script>
</script>
