ACTION=="add",SUBSYSTEM=="block",KERNEL=="sd[a-z]*",PROGRAM="/etc/automount.sh %p %k"
ACTION=="remove",SUBSYSTEM=="block",KERNEL=="sd[a-z]*",PROGRAM="/etc/autoumount.sh %p %k"
ACTION=="change",SUBSYSTEM=="block",KERNEL=="sd[a-z]*",PROGRAM="/etc/autoumount.sh %p %k"