# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
/[Bb]in/
/[Ii]nclude/
/[Ll]ib/
/[Ll]ocal/
/[Ss]cripts/
/venv/
pyvenv.cfg
pip-selfcheck.json
.idea/
*.pyc
*.pyo
*.ipr
*.iws
/out/
*.sqlite
*.bak
*.log
*.zip
bg/feedin - 副本 (2).bmp
.tags*
app/modules/device/UI - 副本.py
app/modules/device/start.gcode
app/modules/device/automount.py
