[Unit]
Description=check update,opkg update and opkg list-upgradable
After=wpa_supplicant.service
StopWhenUnneeded=false

[Service]
Type=simple
ExecStart=/etc/checkupdate.sh
StandardOutput=journal+console

[Install]
WantedBy=basic.target
