[Unit]
Description=do upgarde
After=wpa_supplicant.service
StopWhenUnneeded=false

[Service]
Type=simple
ExecStart=/etc/doupgrade.sh
StandardOutput=journal+console

[Install]
WantedBy=basic.target
