{% extends "base.html" %}
{% block title %}{% endblock %}
{% block most3d %}class="active"{% endblock %}
{% block main %}
    {% include 'searchbox.html' %}
    <div id="items">
        <div class="row" id="content"></div>
    </div>
    <script id="test" type="text/html">
        {*each list as element*}
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{*element['modelURL']*}" class="panel-title">{*element['modelName']*}</a>
                    <a href="{*element['authorURL']*}" class="pull-right">{*element['authorName']*}</a>
                </div>
                <div class="panel-body">
                    <img src="{*element['picURL']*}" class="img-responsive">
                </div>
                <div class="panel-footer clearfix">
                    <a href="{*element['buyURL']*}" class="pull-left">
                        <small id="gt"></small>
                        &nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="{*element['viewURL']*}" class="" data-toggle="modal" data-target="#3dvol"
                       onclick="document.getElementById('3dvolframe').src = '3dv/' + 'ThorsHammer_MediumGiveaway.stl'">
                        <small id="3dvi"></small>
                    </a>
                    <a href="{*element['star']*}" class="pull-right">
                        <small id="sta"></small>
                    </a>
                </div>
            </div>
        </div>
        {* /each *}
    </script>
{% endblock %}

{% block modal %}
    {{ super() }}
    <div id="3dvol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 id="myModalLabel" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <iframe id="3dvolframe" frameborder="0" scrolling="no" height=400 style="width:100%" src="">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default" id="close"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="static/app/js/International/Most3D.js" type="text/javascript"></script>
    <script src="static/app/js/TempleEngine/template-debug.js" type="text/javascript"></script>
    <script src="static/app/js/search.js" type="text/javascript"></script>
{% endblock %}