<div class="col-lg-4 col-md-7 col-sm-10">
    <div class="input-group">
            <input id="param" type="text" class="form-control" placeholder="">
            <span class="input-group-btn">
                <button id="search" class="btn btn-primary" type="button"></button>
            </span>
    </div>
</div>
<br><br>
<div class="col-sm-8">
    <div class="radio c-radio">
        <label>
            <input type="radio" value="option1" name="gender-datatime">
            <span class="fa fa-circle"></span>
            <strong id="dat_tie"></strong>
        </label>
        <label>
            <input type="radio" value="option2" name="gender-datatime">
            <span class="fa fa-circle"></span>
            <strong id="aut_nam"></strong>
        </label>
    </div>
</div>