{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <!-- START Page Custom Script-->
    <script src="static/vendor/formwizard/js/bwizard.min.js"></script>
    <!-- Form Validation-->
    <script src="static/vendor/parsley/parsley.min.js"></script>
    <!-- END Page Custom Script-->
    <!-- App Main-->
    <script src="static/app/js/International/setting.js"></script>
    <script src="static/app/js/settings/password.js" type="text/javascript"></script>
    <script src="static/app/js/settings/frimware.js" type="text/javascript"></script>
    <script src="static/app/js/settings/wireless.js" type="text/javascript"></script>
    <script src="static/app/js/settings/language.js" type="text/javascript"></script>
{% endblock %}

{% block title %}{% endblock %}
{% block allsetting %}class="active"{% endblock %}
{% block setting %}class="active"{% endblock %}

{% block main %}
    <!-- Language Testing-->

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading portlet-handler" id="MFset"></div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#password" id="Pwd"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#firmware" id="firm"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#mail" id="email"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#wireless" id="wire"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#language" id="lang"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    {# 引入设备设置页 #}
                    <div class="tab-pane fade active in" id="password">
                        {% include 'settings/changePwd.html' %}
                    </div>
                    {# 引入设备语言设置页 #}
                    <div class="tab-pane fade" id="language">
                        {% include 'settings/changeLang.html' %}
                    </div>
                    {# 引入固件设置页 #}
                    <div class="tab-pane fade" id="firmware">
                        {% include 'settings/frimware.html' %}
                    </div>
                    {# 引入无线设置页 #}
                    <div class="tab-pane fade" id="wireless">
                        {% include 'settings/wireless.html' %}
                    </div>
                    {# 引入邮件设置页 #}
                    <div class="tab-pane fade" id="mail">
                        {% include 'settings/mail.html' %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {{ super() }}
{% endblock %}

