{#{% extends "base.html" %}#}
{#{% block title %}{% endblock %}#}
{#{% block wizard %}class="active"{% endblock %}#}
{#{% block main %}#}
    <!-- START panel-->
    <div class="panel panel-primary">
        <div class="panel-heading" id="Refl"></div>
        <div class="panel-body">
            <form action="/" method="POST">
                <div data-toggle="wizard" class="form-wizard wizard-horizontal">
                    <!-- START wizard steps indicator-->
                    <ol class="row">
                        <li class="col-lg-3 col-xs-12 text-center" onclick="">
                            <h4 id="Rea_refl"></h4>
                            <small class="text-muted" id="Empty"></small>
                        </li>
                        <li class="col-lg-3 col-xs-12 text-center">
                            <h4 id="Mob_heat"></h4>
                            <small class="text-muted" id="Tak_out"></small>
                        </li>
                        <li class="col-lg-3 col-xs-12 text-center">
                            <h4 id="Feed"></h4>
                            <small class="text-muted" id="Insert"></small>
                        </li>
                        <li class="col-lg-3 col-xs-12 text-center">
                            <h4 id="Tes_ext"></h4>
                            <small class="text-muted" id="Obser"></small>
                        </li>
                    </ol>
                <span class="progress progress-striped m0 progress-sm">
                    <span style="width: 25%;" class="progress-bar progress-bar-primary"></span>
                </span>
                    <div>
                        <fieldset>
                            <div class="row">
                                <h3 id="rep"></h3>
                                <h4 id="stgh"></h4>
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <button type="button" class="btn btn-default btn-lg" onclick="movemid()" id="Noz_cen"></button>
                            <button type="button" class="btn btn-default btn-lg" onclick="movemid()" id="Noz_hea"></button>
                        </fieldset>
                    </div>
                    <div>
                        <fieldset>
                            <h3 id="Insert"></h3>
                        </fieldset>
                    </div>
                    <div>
                        <h3 id="clik"></h3>
                        <h4 id="tet"></h4>
                        <button type="button" class="btn btn-default btn-lg" onclick="movemid()" id="Ext"></button>

                        <div class="text-right">
                            <button type="button" class="btn btn-success  btn-lg" onclick="" id="Comp"></button>
                        </div>
                    </div>
                    <!-- END Wizard Step inputs -->
                </div>
            </form>
        </div>
    </div>
{#{% endblock %}#}

{#{% block modal %}#}
{#    {{ super() }}#}
{#{% endblock %}#}
<div id="webcam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 id="myModalLabel" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: hidden;width: 100%;">
                        <!--<img id="cam_img"src="192.168.1.101:8080/?action=stream" class="img-responsive xform" />-->
                        <iframe id="camframe" frameborder="0" scrolling="no" height=400
                                style="width:100%;" src=''>
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default" id="close_cam"></button>
                </div>
            </div>
        </div>
</div>

{#{% block scripts %}#}
{#    {{ super() }}#}
{#    <!-- Main vendor Scripts-->#}
{#    <script src="static/vendor/formwizard/js/bwizard.min.js"></script>#}
{#    <!-- Form Validation-->#}
{#    <script src="static/vendor/parsley/parsley.min.js"></script>#}
{#    <!-- END Page Custom Script-->#}
{#    <!-- App Main-->#}
{#    <script src="static/app/js/app.js"></script>#}
{#    <script src="static/app/js/International/Wizard.js"></script>#}
{#    <script>#}
{#        function movemid() {#}
{#            $.get('./send/G1 F4000 X0 Y0', function (data) {#}
{#                if (lang = "zh") {#}
{#                    msg = "喷头归位";#}
{#                }#}
{#                else {#}
{#                    msg = "Extruder homing";#}
{#                }#}
{#                $.notify({#}
{#                    message: msg,#}
{#                    status: 'info'#}
{#                });#}
{#                $.get('./send/G1 F4000 X60 Y80', function (data) {#}
{#                    if (lang = "zh") {#}
{#                        msg = "喷头居中";#}
{#                    }#}
{#                    else {#}
{#                        msg = "Extruder center";#}
{#                    }#}
{#                    $.notify({#}
{#                        message: msg,#}
{#                        status: 'info'#}
{#                    });#}
{#                });#}
{#            });#}
{#        }#}
{#    </script>#}
{#//--mySelf#}
{#<script type="text/javascript">#}
{#    /**=========================================================#}
{# * Module: aside-toggle.js#}
{# * Toggle the aside between normal an collapsed state#}
{# * State applied to body so all elements can be notified#}
{# * Targeted elements must have [data-toggle="aside"]#}
{# =========================================================*/#}
{##}
{#(function ($, window, document) {#}
{##}
{#    var Selector = '[data-toggle="aside"]',#}
{#        $body = $('body');#}
{##}
{#    $(document).on('click', Selector, function (e) {#}
{#        e.preventDefault();#}
{##}
{#        $body.toggleClass('aside-toggled');#}
{##}
{#    });#}
{##}
{#{(jQuery, window, document));#}
{#</script>#}
{#//-endMySelf#}
{#{% endblock %}#}
