<!--无线设置页-->
<!-- START panel-->
<div class="panel panel-primary" id="current_wifi_panel">
    <div class="panel-heading">
        <span id="Cur_connect"></span>
        <a class="pull-right" title="" data-toggle="tooltip" data-spinner="traditional"
           data-perform="panel-refresh"
           href="javascript:void(0);" data-original-title="Refresh Panel">
            <em class="fa fa-refresh" id="get_current_wifi"></em>
        </a>
    </div>
    <div class="panel-body">
        <fieldset>
            <div class="text" style="text-align:center;">
                <div class="form-horizontal">
                    <label class="control-label">
                        <p class="form-control-static" id="curr_wifi_info"></p>
                    </label>mostfun5G
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="panel panel-primary" id="wifi_list_panel">
    <div class="panel-heading">
        <span id="Wil_det"></span>
        <a id="wifi_refresh" class="pull-right" title="" data-toggle="tooltip" data-spinner="traditional"
           data-perform="panel-refresh" href="javascript:void(0);" data-original-title="Refresh Panel">
            <em class="fa fa-refresh"></em>
        </a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th id="name"></th>
                    <th id="Signal"></th>
                    <th id="method"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="wifi_list">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="wifi_password" style="display: none;">
    <div class="panel panel-primary">
        <div class="panel-heading" id="EnterPassword"></div>
        <div class="panel-body">
            <div class="form-group required">
                <label for="ssid" class="control-label" id="cont_name"></label>
                <input type="text" value="" required="" name="ssid" id="ssid"
                       class="form-control" disabled="disabled"/>
            </div>
            <div class="form-group required">
                <label for="password" class="control-label" id="cont_password"></label>
                <input type="password" value="" required="" name="password" id="wifi-password"
                       class="form-control"/>
            </div>
            <button type="button" id="connect" class="btn btn-primary"></button>
            </form>
        </div>
    </div>
</div>
<!-- END panel -->