<!--固件设置页-->
<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group">
            <div class="text" style="text-align:center;">
                <label class="control-label">
                    <p class="form-control-static" id="cut_cp_ven"></p>
                </label>{{ currentCPfrimware }}
                <br>
                <label class="control-label">
                    <p class="form-control-static" id="cut_sys_ven"></p>
                </label>{{ currentSYSfrimware }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <div class="text" style="text-align:center;">
                <label class="control-label">
                    <p class="form-control-static" id="update_cp_frimware"></p>
                </label>
                <button class="btn btn-primary" type="button" id="chkCPOnline"></button>
                <br>
                <label class="control-label">
                    <p class="form-control-static" id="update_sys_frimware"></p>
                </label>
                <button class="btn btn-primary" type="button" id="chkSYSOnline"></button>
            </div>
        </div>
    </fieldset>
    <fieldset id="up_btn" style="display: none;">
        <div class="text" style="text-align:center;">
            <button class="btn btn-primary" style="" type="button" id="update_start" data-url="test"></button>
        </div>
    </fieldset>
</form>
