<!--邮件设置页-->
<form class="form" action="/change-mail" method="post">
    <br>
    <table width="100%" border="0">
        <tr>
            <td align="right" valign="middle" id="mah_mail"></td>
            <td align="left" valign="middle">
                <label class="control-label col-lg-6">
                    <input type="text" class="form-control" value="" name="send_mail" id="send_mail"/>
                </label>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle" id="MailPassword"></td>
            <td align="left" valign="middle">
                <label class="control-label col-lg-6">
                    <input type="password" class="form-control" value="" name="send_password" id="send_password"/>
                </label>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle" id="Mailserver"></td>
            <td align="left" valign="middle">
                <label class="control-label col-lg-6">
                    <input type="text" class="form-control" value="" name="mail_server" id="mail_server"/>
                </label>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle" id="ServerPort"></td>
            <td align="left" valign="middle">
                <label class="control-label col-lg-6">
                    <input type="text" class="form-control" value="" name="mail_port" id="mail_port"/>
                </label>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle" id="TitlePrefix"></td>
            <td align="left" valign="middle">
                <label class="control-label col-lg-6">
                    <input type="text" class="form-control" value="[Mostfun]" name="prefix" id="prefix"/>
                </label>
            </td>
        </tr>
{#        <tr>#}
{#            <td align="right" valign="middle" id="SenderName"></td>#}
{#            <td align="left" valign="middle">#}
{#                <label class="control-label col-lg-6">#}
{#                    <input type="text" class="form-control" value="Mostfun Admin" name="sender" id="sender"/>#}
{#                </label>#}
{#            </td>#}
{#        </tr>#}
        <tr>
            <td align="right" valign="middle" id="ReceiveMail"></td>
            <td align="left" valign="middle">
                <label class="control-label col-lg-6">
                    <input type="text" class="form-control" value="" name="target_mail" id="target_mail"/>
                </label>
            </td>
        </tr>
    </table>
    <div style="display:block; text-align:center">
        <button id="change_mail help-block" class="btn btn-primary" type="submit">
            <div id="sure"></div>
        </button>
    </div>
</form>
<div class="panel-footer" id="change_mail_msg">{{ changeMailmsg.encode('utf-8') }}</div>