<!doctype html>
<html>

<head class="no-js" lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MostFun Panel</title>
</head>

<body>

    <div id="content" style="height:100%" data-language="{{language}}">
    </div>

    <script type="text/javascript" src="/static/app/js/thirdLib/requirejs/require.js" data-main="/static/app/js/Main" charset="utf-8">
    </script>

</body>

</html>