    <!-- start table-->
    <!--手机端温度信息-->
    <div id="tem" style="display: none;">
        <div class="col-lg-3 col-sm-6" style="padding: 0px">
            <div class="panel widget anim-running anim-done" data-delay="100" data-offset="0" data-play="fadeInDown"
                 data-toggle="play-animation" style="">
                <div class="panel-body bg-primary">
                    <div class="col-xs-8">
                        <p class="mb0">e0settemp</p>
                    </div>
                    <h3 class="m0" id="e0settemp"></h3>
                </div>
                <div class="panel-body bg-warning">
                    <div class="col-xs-8">
                        <p class="mb0">e0temp</p>
                    </div>
                    <h3 class="m0" id="e0temp"></h3>
                </div>
                <div class="panel-body bg-danger">
                    <div class="col-xs-8">
                        <p class="mb0">bedsettemp</p>
                    </div>
                    <h3 class="m0" id="bedsettemp"></h3>
                </div>
                <div class="panel-body bg-success">
                    <div class="col-xs-8">
                        <p class="mb0">bedtemp</p>
                    </div>
                    <h3 class="m0" id="bedtemp"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--PC端温度信息-->
        <div id="tmp_info" class="col-lg-7 col-md-6 col-xs-12">
            <div class="panel panel-primary" style="padding-bottom:5px">
                <div class="panel-heading">
                    <div class="panel-title" id="deg_info"></div>
                </div>
                <div class="panel-body">
                    <div id="flot-placeholder1" class="flot-chart" style="height: 320px;"></div>
                </div>
                <br>
            </div>
        </div>
        <!-- 控制面板-->
        <div id="ctl_pnl" class="col-lg-5 col-md-6 col-xs-12">
            <!--<div id="mac_ctrl" class="panel widget panel-collapse panel-default collapse in">-->
            <div id="mac_ctrl" class="panel panel-primary" style="margin-bottom:0px">
                <div class="panel-heading">
                    <div class="panel-title" id="con_panel"></div>
                </div>
                <div class="panel-body">
                    <!--机械控制-->
                    <div class="row" style="padding: 1%;">
                        <table class="table responsive">
                            <tr>
                                <th style="padding: 1px;">
                                    <img id="ctl_1" src="/static/app/img/ctl-1.png" class="img-responsive"
                                         style="padding: 0px;">
                                </th>
                                <th style="padding: 1px;">
                                    <img id="ctl_2" src="/static/app/img/ctl-2.png" class="img-responsive"
                                         style="padding: 0px;">
                                </th>
                                <th style="padding: 1px;">
                                    <img id="ctl_3" src="/static/app/img/ctl-3.png" class="img-responsive"
                                         style="padding: 0px;">
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin:0px;">
                        <table>
                            <tr style="border-top:15px;" id="ctl_noz">
                                <td>
                                    <label>
                                        <input id="noz_heat_chk" type="checkbox"/>
                                        <span id="Noz_heat"></span>
                                    </label>
                                </td>
                                <td align="right" style="padding-bottom: 10px;">

                                    <input type="text" value="" data-slider-min="0" data-slider-max="250"
                                           data-slider-step="5"
                                           data-slider-value="190" data-slider-orientation="horizontal" style=""
                                           class="slider slider-horizontal form-control responsive">
                                </td>
                            </tr>
                            <tr style="border-top:15px;" id="ctl_bed">
                                <td>
                                    <label>
                                        <input id="bed_heat_chk" type="checkbox"/>
                                        <span id="bed_heat"></span>
                                    </label>
                                </td>
                                <td align="right" style="padding-bottom: 10px;">
                                    <input type="text" value="" data-slider-min="0" data-slider-max="150"
                                           data-slider-step="5"
                                           data-slider-value="70" data-slider-orientation="horizontal" style=""
                                           class="slider slider-horizontal form-control">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="input-group" style="margin-left:20px;margin-right:20px;padding-top:5px;">
                            <input id="input_cmd" type="text" class="form-control">

                            <div class="input-group-btn">
                                <button type="submit" tabindex="-1" class="btn btn-default" id="Send"></button>
                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                    &nbsp<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:void(0);"
                                           onclick="document.getElementById('input_cmd').value = 'G91'"
                                           id="Rel_coor"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"
                                           onclick="document.getElementById('input_cmd').value = 'G90'"
                                           id="Abso_coor"></a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0);"
                                           onclick="document.getElementById('input_cmd').value = 'G1 Fxx X xx Y xx'"
                                           id="xy_spo"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"
                                           onclick="document.getElementById('input_cmd').value = 'G1 Fxx Z xx'"
                                           id="z_spo"></a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0);"
                                           onclick="document.getElementById('input_cmd').value = 'M104 T0 Sxx'"
                                           id="Ext_heat"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"
                                           onclick="document.getElementById('input_cmd').value = 'G1 E xx'"
                                           id="Ext_spo"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--打印信息-->
        <div class="col-lg-5 col-md-6 col-xs-12" id="info_status_div">
            <div id="info_status" class="panel widget panel-collapse panel-primary collapse out">
                <div class="panel-heading">
                    <div class="panel-title" id="pri_info"></div>
                </div>
                <div class="row row-flush" style="margin-left:20px; margin-right:20px;">
                    <br>

                    <div class=" col-xs-7">
                        <img id="mod_img" src="" class="img-responsive">
                    </div>
                    <div class="col-xs-5 align-middle p-lg">
                        <p id="info_ptrname">：</p>

                        <p id="info_layecount">：</p>

                        <p id="info_layenow">：</p>

                        <p id="info_layeper">：</p>

                        <p id="time_left">:</p>

                        <p></p>

                        <p id="info_e0temp">：</p>

                        <p id="info_bedtemp">：</p>

                        <p>
                            <button id="but_prt" type="button" class="btn btn-success btn-sm"></button>
                            <button id="but_stop" type="button" class="btn btn-danger btn-sm"></button>
                            <!--<button id="but_cam" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#webcam">摄像头</button>-->
                            <!--<button data-toggle="modal" data-target="#webcam">浏览3d</button>-->
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <!--文件管理-->
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div id="filetable" class="panel panel-collapse panel-primary collapse in">
                <div class="panel-heading">
                    <span id="fil_mag"></span>
                    <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="collapse panel"
                       class="pull-right">
                        <em class="fa fa-minus"></em>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="example">
                            <thead>
                            <tr>
                                <th id="fil_nam"></th>
                                <th id="desp"></th>
                                <th id="lar_sml"></th>
                                <th id="new_tim"></th>
                                <th id="pri"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end table-->
