<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en" class="no-ie">
<!--<![endif]-->
<head>
    <!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>mostfun Panel</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/app/css/bootstrap.css">
    <!-- Vendor CSS-->
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css">
    <!-- App CSS-->
    <link rel="stylesheet" href="/static/app/css/app.css">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <!--
    <script type="application/javascript">
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                $("#frmLogin").submit();
            });
        });
    </script>
    -->
</head>
<body>
<!-- START wrapper-->
<div style="height: 100%; padding: 50px 0; background-color: #2c3037" class="row row-table">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 align-middle">
        <!-- START panel-->
        <div data-toggle="play-animation" data-play="zoomIn" data-offset="0" data-duration="300"
             class="panel widget b0">
            <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="106.363px" height="23.057px" viewBox="0 0 106.363 23.057" enable-background="new 0 0 106.363 23.057" xml:space="preserve" style="
    background-color: #353560;
    height: 13em;
    padding: 4.5em;
    width: 100%;
">
<g>
	<path fill="#FFFFFF" d="M0,6.713h1.15v3.18V9.661c0.534-1.774,2.604-3.311,4.937-3.311c2.968,0,4.36,1.694,4.693,3.3l0,0
		c0.722-2.013,2.452-3.3,4.997-3.3c2.815,0,4.875,1.664,4.875,5.299v10.628h-1.15V11.62c0-3.968-2.848-4.271-3.725-4.271
		c-2.817,0-4.876,1.969-4.876,5.723v9.205h-1.15V11.62c0-3.907-2.695-4.271-3.664-4.271c-2.211,0-4.937,1.726-4.937,5.723v9.205H0
		V6.713z"></path>
	<path fill="#FFFFFF" d="M30.434,6.351c4.91,0,7.625,3.723,7.625,8.146c0,4.45-2.714,8.146-7.625,8.146
		c-4.912,0-7.626-3.695-7.626-8.146C22.808,10.073,25.521,6.351,30.434,6.351z M30.434,21.643c4.135,0,6.625-3.422,6.625-7.146
		c0-3.727-2.49-7.146-6.625-7.146c-4.137,0-6.518,3.42-6.518,7.146C23.916,18.221,26.297,21.643,30.434,21.643z"></path>
	<path fill="#FFFFFF" d="M40.925,17.642c0.139,2.877,2.143,4.001,4.668,4.001c1.84,0,4.475-0.606,4.475-3.302
		c0-5.269-9.689-1.635-9.689-7.993c0-3.059,2.717-3.997,5.105-3.997c2.965,0,5.215,0.835,5.215,4.378h-1.043
		c0-2.816-1.811-3.379-4.172-3.379c-1.895,0-4.063,0.787-4.063,2.998c0,2.513,2.346,2.921,4.625,3.497
		c2.799,0.574,5.064,1.257,5.064,4.496c0,3.362-3.047,4.301-5.518,4.301c-3.213,0-5.629-1.366-5.709-5H40.925z"></path>
	<path fill="#FFFFFF" d="M68.587,6.685V5.976c0-1.3,0.23-1.977,0.803-2.256c0.541-0.264,1.029-0.282,1.994-0.302L70.948,0
		c-0.637,0.028-0.785,0.056-1.684,0.196c-3.586,0.564-4.918,2.807-4.979,5.59v0.898h-2.572v2.876h2.572v12.777h4.301V9.561
		l3.178,0.029V6.713L68.587,6.685z"></path>
	<path fill="#FFFFFF" d="M88.651,22.339h-4.088v-2.18h-0.09c-1.092,1.787-2.967,2.604-4.785,2.604c-4.572,0-5.723-2.575-5.723-6.451
		V6.685h4.299v8.841c0,2.575,0.727,3.847,2.756,3.847c2.332,0,3.332-1.303,3.332-4.481V6.685h4.299V22.339z"></path>
	<path fill="#FFFFFF" d="M91.72,6.685h4.086v2.181h0.092c1.092-1.788,2.969-2.605,4.785-2.605c4.572,0,5.723,2.574,5.723,6.45v9.629
		h-4.301v-8.842c0-2.575-0.727-3.845-2.754-3.845c-2.334,0-3.332,1.302-3.332,4.48v8.206H91.72V6.685z"></path>
	<path fill="#FFFFFF" d="M59.767,21.309v1c-2.299,0.151-4.264-0.212-4.113-3.725l0.004-10.122V8.043H52.99V7.042h2.667V4.668h1.133
		v2.374h2.975v1.001H56.81l-0.004,10.541C56.806,21.067,57.587,21.399,59.767,21.309z"></path>
</g>
</svg>

            <div class="panel-body">
                <h4 class="text-center" id="Lgn"></h4>

                <div class="form-group has-feedback">
                    <div class="pull-right">
                        <a href="#" class="text-muted">
                            <small id="Ini_pwd"></small>
                            ：mostfun
                        </a>
                    </div>
                    {{ wtf.quick_form(form) }}
                </div>
                <div class="alert alert-danger" id="err_msg" style="display: {{ style }};">
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <a href="#" data-toggle="modal" data-target="#webcam">
                        <em class="fa fa-camera"><span id="came"></span></em>
                    </a>
                    <a href="#" id="lang_en">
                        <img src="/static/app/img/uk.jpg" style="margin-top:6px;" align="right">
                    </a>
                    <a href="#" id="lang_zh">
                        <img src="/static/app/img/cn.jpg" style="margin-right:15px;margin-top:6px;" align="right">
                    </a>
                </div>
            </div>
            <!-- END panel-->
        </div>
    </div>
    <div id="webcam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 id="myModalLabel" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div style="width: 100%;overflow: hidden;">
                        <!--<img id="cam_img"src="192.168.1.101:8080/?action=stream" class="img-responsive xform" />-->
                        <iframe id="camframe" frameborder="0" scrolling="no" height=400 style="width:100%;" src=''>
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default" id="close"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END wrapper-->
<!-- START Scripts-->
<!-- Main vendor Scripts-->
<script src="/static/app/js/thirdLib/bootstrapjs/vendor/jquery.min.js"></script>
<script src="/static/app/js/thirdLib/bootstrapjs/bootstrap.min.js"></script>
<!-- Custom script for pages-->
<!-- Add International plug-in-->
<script type="text/javascript" src="/static/app/js/International/jquery.i18n.properties-1.0.9.js"></script>
<script src="/static/app/js/International/langSet.js"></script>
<script src="/static/app/js/International/Login.js"></script>
<script src="/static/app/js/pages.js"></script>
<script src="/static/app/js/webcam.js" type="application/javascript"></script>
<!-- END Scripts-->
</body>
</html>