<div class='row'>
<div class="col-lg-4 col-md-7 col-sm-10">
    <div class="input-group">
            <input id="param" type="text" class="form-control" placeholder="">
            <span class="input-group-btn">
                <button id="search" class="btn btn-primary" type="button"></button>
            </span>
    </div>
</div>
<br><br>
<div class="col-sm-8">
    <div class="radio c-radio">
        <label>
            <input type="radio" value="option1" name="gender-datatime">
            <span class="fa fa-circle"></span>
            <strong id="dat_tie"></strong>
        </label>
        <label>
            <input type="radio" value="option2" name="gender-datatime">
            <span class="fa fa-circle"></span>
            <strong id="aut_nam"></strong>
        </label>
    </div>
</div>
</div>
    <div id="items">
        <div class="row" id="content"></div>
    </div>
    <script id="test" type="text/html">
        {*each list as element*}
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{*element['modelURL']*}" class="panel-title">{*element['modelName']*}</a>
                    <a href="{*element['authorURL']*}" class="pull-right">{*element['authorName']*}</a>
                </div>
                <div class="panel-body">
                    <img src="{*element['picURL']*}" class="img-responsive">
                </div>
                <div class="panel-footer clearfix">
                    <a href="{*element['buyURL']*}" class="pull-left">
                        <small id="gt"></small>
                        &nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="{*element['viewURL']*}" class="" data-toggle="modal" data-target="#3dvol"
                       onclick="document.getElementById('3dvolframe').src = '3dv/' + 'ThorsHammer_MediumGiveaway.stl'">
                        <small id="3dvi"></small>
                    </a>
                    <a href="{*element['star']*}" class="pull-right">
                        <small id="sta"></small>
                    </a>
                </div>
            </div>
        </div>
        {* /each *}
    </script>