
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading portlet-handler" id="MFset"></div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#password" id="Pwd"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#firmware" id="firm"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#mail" id="email"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#wireless" id="wire"></a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#language" id="lang"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    {# 引入设备设置页 #}
                    <div class="tab-pane fade active in" id="password">
                        {% include 'settings/changePwd.html' %}
                    </div>
                    {# 引入设备语言设置页 #}
                    <div class="tab-pane fade" id="language">
                        {% include 'settings/changeLang.html' %}
                    </div>
                    {# 引入固件设置页 #}
                    <div class="tab-pane fade" id="firmware">
                        {% include 'settings/frimware.html' %}
                    </div>
                    {# 引入无线设置页 #}
                    <div class="tab-pane fade" id="wireless">
                        {% include 'settings/wireless.html' %}
                    </div>
                    {# 引入邮件设置页 #}
                    <div class="tab-pane fade" id="mail">
                        {% include 'settings/mail.html' %}
                    </div>

                </div>
            </div>
        </div>
    </div>
