[Unit]
Description=Mount for SDCard
BindsTo=dev-sda1.device
Conflicts=media-sdcard.automount

[Mount]
What=/dev/sda1
Where=/media/sdcard
TimeoutSec=3
