[Unit]
Description=enable usb hub
After=wpa_supplicant.service
StopWhenUnneeded=false

[Service]
Type=simple
ExecStart=/etc/start_usbhub.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
